/* -------------- Page ----------------- */
.page {
  flex: 1 1 auto;
}

/* -------------- Main Block ----------------- */

.page__main-block {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/purchasingMarketing/bg.jpg);
  background-position: 0px -587px;
}

.promo__text {
  padding-left: 225px;
  padding-top: 146px;
}


.text__info {
  max-width: 721px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.8;
  text-transform: none;
  letter-spacing: normal;
}


/* -------------- description Block ----------------- */

.page__description-block,
.page__solution-block {
  margin-top: 80px;
}

.description__container,
.solution__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.properties__values,
.properties__values-gr {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.properties__values-gr {
  color: #ffffff;
}

.dot {
  margin-right: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ff3214;
}

/* -------------- Result Block ----------------- */

.page__result-block {
  margin-top: 80px;
  background: #232630;
}

.result__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.result__text {
  padding-top: 84px;
  padding-bottom: 192px;
  max-width: 373px;
  color: #ffffff;
}

.result__data__properties {
  padding-top: 80px;
}



/* -------------- Story Burger ----------------- */

.page__story-block {
  margin-bottom: 80px;
}

.story__container {
  display: flex;
  justify-content: center;
}

.story__img {
  margin-top: 120px;
}

.story {
  margin-top: 130px;
}

.story__img {
  margin-right: 40px;
  width: 64px;
  height: 64px;
}

.stoty__img-quotes {
  width: 100%;
  height: 100%;
}

.story__text {
  margin-bottom: 24px;
  max-width: 965px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.story__user {
  display: flex;
}

.user__img {
  margin-right: 12px;
  width: 44px;
  height: 44px;
}

.img__photo {
  width: 100%;
  height: 100%;
}

.user__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.user__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #969595;
}

/*------------------ Application Bblock  --------------*/

.page__application-block {
  background: #232630;
  margin-bottom: 76px;
}

.application__text-block {
  padding-top: 80px;
}

.application__text {
  color: #ffffff;
}

.text__subtitle {
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.6;
}

.application-block__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.form {
  padding-bottom: 44px;
  padding-top: 80px;
}

.lable {
  margin-bottom: 4px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.6;
}

.form__block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.input__name {
  height: 44px;
  width: 100%;
  padding-left: 16px;
  background: #343845;
  color: #ffffff;
}

.form__block-phone {
  margin-left: 22px;
}

.input__phone {
  height: 44px;
  width: 100%;
  padding-left: 16px;
  background: #343845;
  color: #ffffff;
}

.form__block-question {
  margin-top: 16px;
}

.question {
  display: grid;
  width: 100%;
  min-height: 108px;
  background: #343845;
  color: #ffffff;
}

.form__block-acquainted {
  display: flex;
  margin-top: 24px;
  margin-bottom: 28px;
}

input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
}

input[type="checkbox"] + label {
  position: relative;
  display: flex;
  align-items: center;
  color: #a7a8ac;
}

input[type="checkbox"] + label > a {
  color: #fff;
}

input[type="checkbox"] + label > span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background: #343845;

  cursor: pointer;
}

input[type="checkbox"]:checked + label > span {
  background: #fff;
  animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}

input[type="checkbox"]:checked + label > span:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 5px;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0.85);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #ff3214;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  33% {
    width: 5px;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  100% {
    width: 5px;
    height: 11px;
    border-color: #ff3214;
    transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}

#submit {
  padding-bottom: 16px 44px;
  width: 158px;
  height: 52px;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  background: #ffffff;
  color: #ff3214;
}


/*-------------------- Адаптив MEDIA---------------*/

@media (min-width: 1921px) {
  .page__main-block {
    background-size: 1920px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 1500px) {



  .page__main-block {
    background-size: 1864px;
    background-position-y: center;
  }

  .promo__text {
    padding-left: 11.45vw;
  }

  .page__application-block{
    margin-bottom: 0;
  }
}

@media (max-width: 832px) {
  .application-block__container {
    display: block;
  }

  .form {
    padding-top: 36px;
  }
}

@media (max-width: 768px) {
 .page__main-block {
   background-size: 1429px;
   background-position: -66px -158px;
 }

 .promo__text {
  font-size: 54px;
  padding-top: 106px;
  padding-left: 0;
 }

 .block-text {
   font-size: 30px;
 }

 .result__text {
   max-width: 264px;
 }

 .story__img {
   width: 56px;
   height: 56px;
   margin-right: 16px;
   margin-top: 50px;
 }
.story__container{
  justify-content: left;
}
 .story__text{
   max-width: 576px;
 }
 .story{
   margin-top: 60px;
 }
}

@media (max-width: 530px) {
    .page__main-block {
      background-size: 853px;
      background-position: center;
    }

  .promo__text {
    font-size: 32px;
    padding-top: 56px;
  }

  .text__info {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
  }

  .text__tagline {
    margin-bottom: 12px;
  }

  .page__description-block {
    margin-top: 44px;
  }

  .description__container,
  .result__container {
    display: block;
  }

  .description__text {
    margin-bottom: 16px;
  }

  .page__result-block {
    margin-top: 44px;
  }

  .result__text {
    padding-top: 44px;
    padding-bottom: 0;
    font-size: 24px;
  }

  .result__data__properties {
    padding-top: 24px;
  }

  .story {
    margin-top: 49px;
  }

  .result__data__properties {
    padding-bottom: 28px;
  }

  .stoty__img-quotes {
    width: 40px;
    height: 40px;
  }

  .story__img {
    margin-top: 49px;
    margin-right: 8px;
  }

  .story__text {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 20px;
  }

  .form__block {
    display: block;
  }

  .application__text-block {
    padding-top: 44px;
  }

  .application__text {
    font-size: 24px;
    line-height: 32px;
  }
  .form {
    padding-top: 20px;
  }
  .form__block-phone {
    margin-left: 0;
  }

  input[type="checkbox"]+label {
    font-size: 14px;
    display: block;
  }

  input[type="checkbox"]+label>span {
    display: inline-block;
  }

  .span__space {
    padding-left: 28px;
  }

  #submit {
    width: 100%;
  }
}
